body {
  background-color: #ffffff;
  font-family: monospace;
}
.row {
  display: flex;
  justify-content: space-between;
}
.container {
  margin: 2em;
  margin-top: 5em;
}
.col {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.title .sub-title .back {
  display: flex;
}
.back-btn {
  padding: 2em 3.5em;
  background-color: #333333;
  color: #ffffff;
  border: 1px solid #333333;
}
.sub-title .text {
  color: #4f4f4f;
  font-size: 1.5em;
  max-width: 60%;
}
.title .text {
  font-size: 4rem;
}
.banner-img {
  max-width: 90%;
  max-height: 90%;
}
.back {
  margin-top: 2em;
}
.back .back-btn .btn-text {
  text-transform: uppercase;
  font-weight: bold;
  font-family: monospace;
}
.footer {
  display: flex;
  margin-top: 5em;
  justify-content: center;
}
.footer .text {
  font-family: monospace;
}
@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .sub-title .text {
    max-width: 100%;
  }
}
